<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
  <title>Document</title>
</head>

{% extends 'charts/base.html' %}

{% block content %}
<body>

  {% if not user.is_staff %}

      <h2>You are not allowed</h2>
      <button type="submit" onclick="history.go(-1);" class="inline">Voltar</button>
    
  {% else %}

    <button type="submit" onclick="history.go(-1);" class="inline">Voltar</button>
      
    <canvas id="chart" width="100" height="100"></canvas>

    <script>

      let ctx = document.getElementById("chart").getContext("2d");

      let chart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: '{{x}}',
          datasets: [
              {
                label: "Candidatos Recebidos no Mês",
                backgroundColor: "#79AEC8",
                borderColor: "#417690",
                data: '{{y}}'
              }
          ]
        },
        options: {
          title: {
              text: "Candidatos Recebidos no Mês",
              display: true
          },
          scales: {
            yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Candidatos'
        }
      }]
    },
    scales: {
            xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Mês'
        }
      }]
    }     
        }
      });

    </script>

  {% endif %}
</body>
{% endblock content %}


</html>