{% extends 'charts/base.html' %}

{% block content %}


{% if not user.is_staff %}
    <h2>Você não é permitido aqui </h2>
    <button type="submit" onclick="history.go(-1);" class="inline">Voltar</button>
    
    {% else %}

    <div class="header-bar">
        <h1>Relatórios</h1>
    </div>
    
    <form action="{% url 'users:logout' %}">
        <button type="submit" class="button_margin_top">Logout</button>
    </form>

    <form action="{% url 'charts:chart-vacancies' %}">
        <button type="submit" class="button_margin_top">Relatório de Vagas</button>
    </form>

    <form action="{% url 'charts:chart-applicants' %}">
        <button type="submit" class="button_margin_top">Relatório de Candidatos</button>
    </form>

{% endif %}

{% endblock content %}