{% if user.is_company %}

    <p>You're not allowed in this page</p>

    <INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);">


{% elif user.id not in applicant_id %}

    <p>You have to complete you registration first</p>

    <button><a href="{% url 'users:applicant-register-complete' %}">Complete Registration</a></button>


{% else %}

    <h2>{{vacancie.id}}</h2>
    <h2>{{vacancie.nome}}</h2>

    <INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);">

    <button><a href="{% url 'applicant:confirm-application' %}">I want this vacancie!</a></button>

{% endif %}