{% extends 'vacancies/base.html' %}

{% block content %}

{% if user.is_applicant %}

    <h4>Você não é permitido aqui</h4>

    <button type="submit" onclick="history.go(-1);" class="inline">Voltar</button>


{% elif user.id not in company_id %}

    <h4>Você precisa completar o cadastro</h4>

    <button><a href="{% url 'users:company-register-complete' %}">Completar Cadastro</a></button>


{% else %}

    <div class="header-bar">
        <h1>Deletar Vaga: {{vacancie}}</h1>
    </div>

    <form method = "POST">
        {% csrf_token %}
        <p>Tem certeza?</p>
        <button type="submit" id="submit" class="inline">Deletar</button>
    </form>

    <button type="submit" onclick="history.go(-1);" class="inline">Voltar</button>

{% endif %}

{% endblock content %}