{% extends 'vacancies/base.html' %}

{% block content %}

{% if user.is_applicant %}

    <h4>Você não é permitido aqui</h4>

    <button type="submit" onclick="history.go(-1);" class="inline">Voltar</button>


{% elif user.id not in company_id %}

    <h4>Você precisa completar o cadastro</h4>

    <button><a href="{% url 'users:company-register-complete' %}">Completar Cadastro</a></button>


{% else %}

        <div class="header-bar">
            <h2>{{vacancie.nome}}</h2>
        </div>

        <h2 style="margin-top: 5%;">Candidatos inscritos na vaga: {{num_applicants}}</h2>

        <table id="example" class="table" style="margin-top: 5%;">
            <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Pontos</th>
                </tr>
            </thead>
            <tbody>
                {% for va in vacancies_applications %}
                    {% if va.vaga == vacancie %}
                        <tr>
                            <td><a href="{% url 'vacancies:detail-applicant' va.candidato.pk %}">{{va.candidato}}</a></td>
                            <td>{{va.pontos_candidato}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" onclick="history.go(-1);" class="inline">Voltar</button>
{% endif %}

{% endblock content %}
