{% if user.is_applicant %}

    <h4>Você não é permitido aqui</h4>

    <INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);">


{% elif user.id not in company_id %}

    <h4>Você precisa completar o cadastro</h4>

    <button><a href="{% url 'users:company-register-complete' %}">Complete Registration</a></button>


{% else %}

    <button><a href="{% url 'users:logout' %}">Logout</a></button>
    <button><a href="{% url 'vacancies:create-vacancie' %}">Create Vacancie</a></button>

    {% for vacancie in vacancies %}
    
        <h2><a href="{% url 'vacancies:detail-vacancie' vacancie.id %}">{{vacancie.nome}}</a></h2> 
        <a href="{% url 'vacancies:update-vacancie' vacancie.id %}">Edit</a>
        <a href="{% url 'vacancies:delete-vacancie' vacancie.id %}">Delete</a>

    {% empty %}

        <h2>You dont have any vacancies yet</h2>

    {% endfor %}

{% endif %}