{% extends 'users/base.html' %}

{% block content %}


<div class="header-bar">
    <h1>Olá, seja bem vindo ao site!</h1>
</div>


<h2>Para se cadastrar, selecione o tipo de usuário</h2>

<form action="{% url 'users:register-applicant' %}">
    <button type="submit" >Cadastro de Candidatos</button>
</form>

<form action="{% url 'users:register-company' %}">
    <button type="submit" class="button_margin_top">Cadastro de Empresas</button>
</form>


<h2>Já possui uma conta?</h2>
<form action="{% url 'users:login' %}">
    <button type="submit" >Logar</button>
</form>

{% endblock content %}